.todo-item {
  display: flex;
  background-color: rgb(138, 192, 194);
  -webkit-box-shadow: 0px 0px 11px 3px rgba(91, 91, 91, 0.67);
  box-shadow: 0px 0px 11px 3px rgba(91, 91, 91, 0.67);
  margin: 7px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: cadetblue;
  color: aliceblue;
}

button {
  background-color: #393939;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
  box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
}

#new-category {
  outline: 0;
  border-radius: 5px;
  border-width: 0px;
  padding: 7px;
  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
  box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
}

#categories-list {
  border-radius: 7px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
  box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
}

#new-task {
  border-radius: 5px;
  padding: 7px;
  border-width: 0px;
  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
  box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 12px 8px rgba(91, 91, 91, 0.13);
}

#categories-list-filter {
  border-radius: 7px;
}

.titleDiv {
  background-color: white;
  color: cadetblue;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
}

.CreateCatergoryDiv {
  width: 30%;
  padding: 10px;
}

.AddTaskDiv {
  display: block;
  padding: 10px;
}

.FilterCategoryDiv {
}

.filter-button {
  border-radius: 100px;
}

.item-category {
  font-size: 12px;
  color: #59595c;
}

.item-title {
}

/* .rounded-checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
} */
